/* h3{
  text-align: center;
  margin-top: 100px;
}
.dest,.asia{
  padding: 20px;
  flex-wrap: wrap;
       
}
.card{
  border: 0cap;
  background-color: black;
  margin-top: 40px;
}
a{
  text-decoration: none;
  color: inherit;
  color: white;
}
ul{
  list-style: none;
} */